<h1> <%= @book.title() %></h1>

<div class="btn-group" role="group">
  <a href="/books/<%= @book.bookid() %>/edit" class="btn btn-default" role="button">Edit</a>

</div>
<br><br>
<hr>
<div class="btn-group" role="group">
  <a href="/" class="btn btn-default active" role="button">Home</a>
</div>
