<form action="/books/search_result" method="post">
  <input type="text" name="search_term">

  <div class="radio-inline">
    <label class="radio-inline"><input type="radio" name="search_by" checked value="Title">Title</label>
    <label class="radio-inline"><input type="radio" name="search_by" value="Author">Author</label>
  </div>


  <button type="submit" value="search"><span class="glyphicon glyphicon-search"></span></button>
</form>

<br>

<div class="btn-group" role="group">
  <a href="/books/new" class="btn btn-primary btn-lg active" role="button">Add a Book</a>
  <a href="/books" class="btn btn-warning btn-lg active" role="button">View all Books</a>
</div>

<div class="btn-group" role="group">
  <a href="/patrons/new" class="btn btn-primary btn-lg active" role="button">Add a Patron</a>
  <a href="/patrons" class="btn btn-warning btn-lg active" role="button">View all Patrons</a>
</div>
