<h1> <%= @patron.name() %> </h1>

<% if @books.any? %>
  <h3>Books you've checked out:</h3>

  <ul>
    <% @books.each() do |book| %>
      <li> <%= book[0].title() %> - Due Date: <%= book[1] %> </li>
    <% end %>
  </ul>
<% else %>
  <h3>You haven't checked out any books </h3>
<% end %>

<br><br>
<hr>

<div class="btn-group" role="group">
  <a href="/" class="btn btn-default active" role="button">Home</a>
</div>
